<footer class="fixed bottom-0 left-0 w-full bg-green-100 text-white-600 text-sm text-center p-4 mt-8 shadow-inner">
  <div class="container mx-auto">
    <p class="mb-2">
      &copy; ひとこと日記
    </p>
  </div>
</footer>