<div class='flex flex-col items-center text-center mt-12 mb-20'>
  <div class="space-y-4 text-[12px] sm:text-[24px] max-w-2xl mx-auto">    
    <div class="space-y-2">
      <p class="font-medium">
        今日の気持ち、ひとことだけでも。
      </p>

      <p>
        「ひとこと日記」は気持ちや出来事をそっと書き残すアプリです。
      </p>

      <p>～機能～</p>

      <p>
        ・文字だけのシンプル投稿<br>
        ・ことばの跡で過去の自分を振り返る<br>
        ・公開、非公開も自由に選べて気軽に続けられる
      </p>
    </div>
  </div>
</div>