<div class="flex flex-col items-center">
  <%= image_tag "hitokoto_logo.png", alt: "アプリの背景画像", class: 'w-96 -mb-12' %>
  <p class="text-center text-xl text-brown-800">今日はどんな感じ？</p>
  <% if user_signed_in? %>
    <%= link_to "今日のひとこと", posts_path, class: " bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition" %>
  <% else %>
    <%= link_to "ログインする", new_user_session_path, class: " bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition" %>
  <% end %>
</div>
